<footer class="footer_border_columns">
    <div class="footer_inner clearfix">
        <div class="footer_top_holder">
            <div class="footer_top">
                <div class="container">
                    <div class="container_inner">
                        <div id="text-4" class="widget widget_text">
                            <div class="textwidget">
                                <div class="separator normal center" style="margin-bottom: 30px"></div>

                                <span class="edgt_icon_shade edgt_icon_shortcode font_awesome normal social_icon">
                                    <a href="https://soundcloud.com/InStateRecords" target="_blank"><i class="fab fa-soundcloud"></i></a>
                                </span>
                                <span class="edgt_icon_shade edgt_icon_shortcode font_awesome normal  social_icon">
                                    <a href="https://twitter.com/InStateRecords/" target="_blank"><i class="fab fa-twitter "></i></a>
                                </span>
                                <div class="separator  normal center  "
                                     style="margin-top:30px;margin-bottom:0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer_bottom_holder">
            <div class="footer_bottom_holder_inner">
                <div class="container">
                    <div class="container_inner">

                        <div class="column_inner">
                            <div class="textwidget">InState Records
                                Weinheim, Germany

                                <p>Email: contact@instate-records.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>