<header class="page_header scrolled_not_transparent with_border dark header_style_on_scroll fixed fixed_minimal">
    <div class="header_inner clearfix">
        <div class="header_top_bottom_holder">
            <div class="header_bottom  header_in_grid clearfix">
                <div class="container">
                    <div class="container_inner clearfix">
                        <div class="header_inner_left">
                            <div class="side_menu_button_wrapper left">
                                <div class="side_menu_button">
                                    <a href="javascript:void(0)"
                                       class="popup_menu medium fade_push_text_top"><span
                                            class="popup_menu_inner"><i class="line">&nbsp;</i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="logo_wrapper">
                            <div class="edgt_logo">
                                <a href="/"><img class="normal"
                                                 src="/assets/images/Instate-Site-Logo.png"
                                                 alt="Logo"/><img
                                        class="light" src="/assets/images/Instate-Site-Logo.png"
                                        alt="Logo"/><img class="dark"
                                                         src="/assets/images/Instate-Site-Logo.png"
                                                         alt="Logo"/><img
                                        class="sticky" src="/assets/images/Instate-Site-Logo.png"
                                        alt="Logo"/><img class="mobile"
                                                         src="/assets/images/Instate-Site-Logo.png"
                                                         alt="Logo"/><img
                                        class="popup" src="/assets/images/Instate-Site-Logo.png"
                                        alt="Logo"/></a>
                            </div>

                        </div>
                        <div class="header_inner_right">
                            <div class="side_menu_button_wrapper right">
                                <div class="side_menu_button">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<a id="back_to_top" class="" href="#">
			<span class="edgt_icon_stack">
                <i class="edgt_icon_font_awesome fa fa-chevron-up "></i>
            </span>
</a>

<div class="popup_menu_holder_outer">
    <div class="popup_menu_holder">
        <div class="popup_menu_holder_inner">
            <div class="container_inner">

                <nav class="popup_menu">
                    <ul id="menu-menu" class="">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-50330 current_page_item ">
                            <a href="/" class=" current "><span>Home</span></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                href="/about.html" class=""><span>About</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>