<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body class="home page-template page-template-full_width page-template-full_width-php page ajax_fade page_not_loaded vertical_menu_with_scroll fade_push_text_top wpb-js-composer vc_responsive">


<div class="ajax_loader">
    <div class="ajax_loader_1">
        <div class="double_pulse">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="wrapper_inner">

        {% include header.html %}

        <div class="content content_top_margin">
            <div class="content_inner  ">

                <div class="title_outer title_without_animation" data-height="2">
                    <div class="title position_left without_title_text standard_title with_background_color"
                         style="height:2px;">
                        <div class="image not_responsive"></div>

                        <div class="title_holder" style="height:2px;">
                            <div class="container clearfix">
                                <div class="container_inner clearfix">
                                    <div class="title_subtitle_holder title_content_background">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="full_width">
                    <div class="full_width_inner" style="padding-top:0px !important">
                        {{ content }}
                    </div>
                </div>


                <div class="content_bottom" style="background-color: #000000">
                </div>

            </div> <!-- close div.content_inner -->
        </div>  <!-- close div.content -->


        {% include footer.html %}
    </div> <!-- close div.wrapper_inner  -->
</div> <!-- close div.wrapper -->


</body>

<script type="text/javascript" src="/assets/js/edgt-like.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>
<script type="text/javascript" src="/assets/js/jquery.carouFredSel-6.2.1.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="/assets/js/lemmon-slider.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/default_dynamic.js"></script>
<script type="text/javascript" src="/assets/js/default.min.js"></script>
<script type="text/javascript" src="/assets/js/blog.min.js"></script>
<script type="text/javascript" src="/assets/js/custom_js.js"></script>
<script type="text/javascript" src="/assets/js/ajax.min.js"></script>

</html>
